@import "~antd/dist/reset.css";
@import "tailwindcss/base";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #ffffffd9;
  background-color: #0d1117;
  overflow: hidden;
  position: fixed;
  height: 100lvh;
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  /* border: 5px solid green; */
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* border: 5px solid red; */
}

#app, .ant-app {
  height: 100%;
  width: 100%;
}

.ant-btn-primary{
  background-color: #156DC4;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis/WOFF2/Metropolis-Thin.woff2")
      format("woff2"),
    url("./assets/fonts/Metropolis/WOFF/Metropolis-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis/WOFF2/Metropolis-ExtraLight.woff2")
      format("woff2"),
    url("./assets/fonts/Metropolis/WOFF/Metropolis-ExtraLight.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis/WOFF2/Metropolis-Light.woff2")
      format("woff2"),
    url("./assets/fonts/Metropolis/WOFF/Metropolis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis/WOFF2/Metropolis-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/Metropolis/WOFF/Metropolis-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis/WOFF2/Metropolis-Medium.woff2")
      format("woff2"),
    url("./assets/fonts/Metropolis/WOFF/Metropolis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis/WOFF2/Metropolis-SemiBold.woff2")
      format("woff2"),
    url("./assets/fonts/Metropolis/WOFF/Metropolis-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis/WOFF2/Metropolis-Bold.woff2")
      format("woff2"),
    url("./assets/fonts/Metropolis/WOFF/Metropolis-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis/WOFF2/Metropolis-ExtraBold.woff2")
      format("woff2"),
    url("./assets/fonts/Metropolis/WOFF/Metropolis-ExtraBold.woff")
      format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("./assets/fonts/Metropolis/WOFF2/Metropolis-Black.woff2")
      format("woff2"),
    url("./assets/fonts/Metropolis/WOFF/Metropolis-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  vertical-align: baseline;
}

@layer components {
  .custom-scrollbar {
    scrollbar-color: #285e94 #fff0;
    scrollbar-width: thin;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #285e94;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
